<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        body {text-align: center;}
    </style>
    <title>File Downloader</title>
</head>
<body>
<br/>
<h1> Download</h1>
<p> Click on the download button to download the edited Excel Sheet:</p>
<br/>
<a href="/download"><button class='btn btn-default'>Download</button></a>
</body>
</html>



